@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.2s;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: rgb(81, 81, 81);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 80px 0;
}

.heading {
  font-size: 50px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #02231c;
  margin: 10px 0 30px 0;
}

.sub-heading {
  color: #5CBA82;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 16px;
}

button {
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #5CBA82;
  color: #fff;
  border-radius: 10px;
  font-size: medium;
}
button:hover {
  background-color: #02231c;
  color: #fff;
}

.hero {
  background: url("/static/img/Worlds-Greatest-Places-2022-KigaliRwanda.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(2, 35, 28, 0.737254902);
  background-blend-mode: overlay;
  position: relative;
  color: #fff;
}
.hero::after {
  content: url("/static/img/white-divider.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
}
.hero .container {
  padding-top: 30vh;
}
.hero .container .intro {
  max-width: 40%;
}
.hero .container .intro .heading {
  color: #fff;
  margin-bottom: 20px;
}
.hero .container .tours-cards {
  margin: 50px 0 70px 0;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  gap: 2.5%;
}
.hero .container .tours-cards a .tour-card {
  background-color: rgba(2, 35, 28, 0.7294117647);
  padding: 60px 0;
  text-align: center;
  border-radius: 10px;
}
.hero .container .tours-cards a .tour-card p {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}

.about .container {
  display: flex;
  padding: 20px 0;
}
.about .container .col-left {
  width: 50%;
}
.about .container .col-left p {
  margin-bottom: 20px;
}
.about .container .col-right {
  width: 50%;
  text-align: end;
}
.about .container .col-right img {
  width: 80%;
}

.tours {
  position: relative;
  background-color: whitesmoke;
}
.tours::before {
  content: url("/static/img/white-divider.svg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.tours .container {
  padding-top: 180px;
}
.tours .container .top-center-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
}
.tours .container .top-center-text h1 {
  font-size: 32px;
}
.tours .container .tours-grids {
  margin-top: 50px;
}
.tours .container .tours-grids .tour-grid {
  display: flex;
  margin: 50px 0;
  align-items: center;
}
.tours .container .tours-grids .tour-grid .col-left {
  width: 50%;
}
.tours .container .tours-grids .tour-grid .col-left img {
  width: 80%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 66px;
  filter: drop-shadow(2px 12px 17px rgba(122, 167, 122, 0.5098039216));
}
.tours .container .tours-grids .tour-grid .col-right {
  width: 50%;
}
.tours .container .tours-grids .tour-grid .col-right .heading {
  font-size: 32px;
  margin-bottom: 10px;
}
.tours .container .tours-grids .tour-grid .col-right .price {
  background: #5CBA82;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  color: #02231c;
}
.tours .container .tours-grids .tour-grid .col-right .tour-desc {
  margin: 20px 0;
}
.tours .container .tours-grids .reverse {
  flex-direction: row-reverse;
}
.tours .container .tours-grids .reverse .col-left {
  text-align: end;
}

.call-to-action {
  background: url("/static/img/Worlds-Greatest-Places-2022-KigaliRwanda.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(2, 35, 28, 0.7176470588);
  background-blend-mode: overlay;
  position: relative;
  color: #fff;
}
.call-to-action::after {
  content: url("/static/img/top-grey-divider.svg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.call-to-action .container {
  max-width: 600px;
  padding-top: 150px;
  text-align: center;
}
.call-to-action .container .heading {
  color: #fff;
}
.call-to-action .container .call-to-action-text {
  margin-bottom: 20px;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .container .col-left {
  width: 40%;
}
.contact .container .col-left .contact-address {
  margin-top: 30px;
}
.contact .container .col-left .contact-address h4 {
  color: #02231c;
}
.contact .container .col-left .contact-address ul {
  margin-top: 10px;
}
.contact .container .col-left .contact-address ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.contact .container .col-left .contact-address ul li a {
  color: rgb(81, 81, 81);
  display: flex;
  gap: 10px;
}
.contact .container .col-left .contact-address ul li a i {
  background-color: #02231c;
  color: #fff;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .col-left .contact-address ul li:hover a {
  color: #5CBA82;
}
.contact .container .col-left .contact-address ul li:hover a i {
  background-color: #5CBA82;
}
.contact .container .col-right {
  width: 40%;
  text-align: end;
}
.contact .container .col-right form .form-input .submit-btn {
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #5CBA82;
  color: #02231c;
  border-radius: 10px;
  font-size: medium;
  margin-top: 10px;
}
.contact .container .col-right form .form-input .form-control {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
}
.contact .container .col-right form .form-input input textarea {
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(81, 81, 81);
}
.contact .container .col-right form .form-input input textarea::-moz-placeholder {
  font-size: 18px;
}
.contact .container .col-right form .form-input input textarea:-ms-input-placeholder {
  font-size: 18px;
}
.contact .container .col-right form .form-input input textarea::placeholder {
  font-size: 18px;
}
.contact .container .col-right form .full {
  display: grid;
}
.contact .container .col-right form .half {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}

footer {
  background: #02231c;
  color: #fff;
}
footer .container {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-menu ul {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
footer .container .footer-menu ul li a {
  color: #fff;
  text-transform: capitalize;
}
footer .container .social-media {
  display: flex;
  gap: 10px;
}
footer .container .social-media a {
  color: #fff;
}

.thank-you {
  text-align: center;
  height: 100vh;
  padding-top: 30vh;
  background: url("/static/img/Worlds-Greatest-Places-2022-KigaliRwanda.jpg");
  background-color: rgba(2, 35, 28, 0.768627451);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  color: white;
}
.thank-you .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}/*# sourceMappingURL=styles.css.map */