{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Primary Meta Tags -->
        <title>KJS Experience | Thank you</title>
        <meta name="title" content="see and feel a real, local Kigali" />
        <meta
          name="description"
          content="KJS EXPERIENCES is a young tourist oriented agency whose objective is to offer to the curious individuals or groups a possibility to see and feel a real, local Kigali."
        />
    
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kjsexperience.com/" />
        <meta property="og:title" content="see and feel a real, local Kigali" />
        <meta
          property="og:description"
          content="KJS EXPERIENCES is a young tourist oriented agency whose objective is to offer to the curious individuals or groups a possibility to see and feel a real, local Kigali."
        />
        <meta
          property="og:image"
          content="{% static 'img/affordable websites.png' %}"
        />
    
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://kjsexperience.com/" />
        <meta
          property="twitter:title"
          content="see and feel a real, local Kigali"
        />
        <meta
          property="twitter:description"
          content="KJS EXPERIENCES is a young tourist oriented agency whose objective is to offer to the curious individuals or groups a possibility to see and feel a real, local Kigali."
        />
        <meta
          property="twitter:image"
          content="{% static 'img/affordable websites.png' %}"
        />
    
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'img/kjs-experience logo.png' %}" />
        <link rel="stylesheet" href="{% static 'css/natigation.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
        
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
          src="https://kit.fontawesome.com/54c10e37be.js"
          crossorigin="anonymous"
        ></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
      </head>
<body>
    <div class="thank-you">
        <div class="container">
            <h1>Thank you!</h1>
            <p>Our team is always here to help you. We got your submission, and we will reach out to you as soon as possible</p>
            <a href="/"><button>Back to home page</button></a>
        </div>
    </div>
</body>
</html>